In [1]:
# Dependencies
import pandas as pd
import gmaps
import requests
# API key
from config import g_key

In [2]:
# Converting city data into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-08-06 17:17:46,-23.1203,-134.9692,69.01,63,84,18.48
1,1,Faanui,PF,2022-08-06 17:19:01,-16.4833,-151.7500,77.90,76,71,24.70
2,2,Punta Arenas,CL,2022-08-06 17:14:28,-53.1500,-70.9167,39.31,81,75,6.91
3,3,Vardo,NO,2022-08-06 17:19:02,70.3705,31.1107,51.78,93,100,10.36
4,4,Mandleshwar,IN,2022-08-06 17:19:03,22.1833,75.6667,82.35,81,99,4.76

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
# Configuring maximum temperature heatmap
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Configuring percent humidity heatmap
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Configuring cloudiness heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Configuring wind spees heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Prompting customer for preferred temps
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Selecting cities based on input results
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Faanui,PF,2022-08-06 17:19:01,-16.4833,-151.7500,77.90,76,71,24.70
4,4,Mandleshwar,IN,2022-08-06 17:19:03,22.1833,75.6667,82.35,81,99,4.76
9,9,Butaritari,KI,2022-08-06 17:19:05,3.0707,172.7902,81.84,77,83,15.12
13,13,Ewa Beach,US,2022-08-06 17:19:07,21.3156,-158.0072,79.59,80,0,4.61
23,23,Veraval,IN,2022-08-06 17:19:12,20.9000,70.3667,81.68,86,57,9.80
25,25,Torbay,CA,2022-08-06 17:15:26,47.6666,-52.7314,80.89,72,75,10.36
26,26,Takoradi,GH,2022-08-06 17:19:14,4.8845,-1.7554,76.06,73,4,9.71
27,27,Atuona,PF,2022-08-06 17:19:14,-9.8000,-139.0333,76.89,77,65,18.39
28,28,Pontivy,FR,2022-08-06 17:19:15,48.0000,-3.0000,77.58,31,0,20.04
32,32,Mundo Nuevo,MX,2022-08-06 17:19:17,18.7000,-95.5000,84.49,64,32,5.93

In [10]:
# Configuring hotel DataFrame
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1        Faanui      PF     77.90 -16.4833 -151.7500
4   Mandleshwar      IN     82.35  22.1833   75.6667
9    Butaritari      KI     81.84   3.0707  172.7902
13    Ewa Beach      US     79.59  21.3156 -158.0072
23      Veraval      IN     81.68  20.9000   70.3667
25       Torbay      CA     80.89  47.6666  -52.7314
26     Takoradi      GH     76.06   4.8845   -1.7554
27       Atuona      PF     76.89  -9.8000 -139.0333
28      Pontivy      FR     77.58  48.0000   -3.0000
32  Mundo Nuevo      MX     84.49  18.7000  -95.5000

In [11]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    
    hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Faanui,PF,77.90,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
4,Mandleshwar,IN,82.35,22.1833,75.6667,Mahalaxmi Bhojnalay
9,Butaritari,KI,81.84,3.0707,172.7902,Isles Sunset Lodge
13,Ewa Beach,US,79.59,21.3156,-158.0072,Base Lodging
23,Veraval,IN,81.68,20.9000,70.3667,Lords Inn Somnath
25,Torbay,CA,80.89,47.6666,-52.7314,Gallows Cove
26,Takoradi,GH,76.06,4.8845,-1.7554,Raybow International Hotel
27,Atuona,PF,76.89,-9.8000,-139.0333,Villa Enata
28,Pontivy,FR,77.58,48.0000,-3.0000,Frairie du Divit - Chambres d'hôtes à Pontivy ...
32,Mundo Nuevo,MX,84.49,18.7000,-95.5000,

In [13]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))